<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
  {{>styles}}
</head>

<div class="container mx-auto px-4">
    <body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
        <div class="sqlbook-logo">
            <img src="../static/assets/images/SQLbook_Logo.png" />
        </div>
        <div class="grid grid-cols-2 divide-x gap-3 pl-10 sqlbook-body">
            <div class="col-span-1">
                <div class="container py-8 px-6 mx-auto">
                    <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-4xl mb-8">
                        {{c_databaseName}}.{{name}} 
                    </div>
                    {{#each c_columns}}
                        <div class="col-span-5">
                            <div class="container py-8 px-6 mx-auto">
                                <div>
                                    <p>{{name}}</p>
                                    <table>
                                        <tr>
                                            <td>Data Type</td>
                                            <td>{{c_dataType}}</td>
                                        </tr>
                                        <tr>
                                            <td>Nullable?</td>
                                            <td>{{c_nullable}}</td>
                                        </tr>
                                        {{#if c_keyType}}
                                        <tr>
                                            <td>Key Type</td>
                                            <td>{{c_keyType}}</td>
                                        </tr>
                                        {{/if}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </body> 
</div>

{{>footer}}

</html>